<div>
  <%= turbo_frame_tag 'new-credential' do%>
    <% if current_user.role == 1%>
      <br/>
      <br/>
      <%= link_to "New credential", new_credential_path %>
    <% end %>
  <% end %>
</div>